.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr; 
}

.dashboardContainer {
    background-color: #f4f6f9; /* Light background for the content */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.lineChart{
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
}

.donughChart{
    width: 30vw;
    margin: auto;
}

.dashboardSummary {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for the summary */
    gap: 20px;
    margin-top: 30px;
}

.dashboardSummary div {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dashboardSummaryBox2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns for the links */
    gap: 20px;
}

.totalAmount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardSummaryBox2 a:first-child {
    background-color: #89ABE3;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dashboardSummaryBox2 a:nth-child(2) {
    background-color: #EA738D;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dashboardSummaryBox2 a:nth-child(3) {
    background-color: #A7BEAE;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dashboardSummaryBox2 a p:first-child {
    font-weight: 600;
}

.dashboardSummaryBox2 a p:last-child {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr; /* Stack sidebar and content on smaller screens */
    }

    .dashboardSummary {
        grid-template-columns: 1fr; /* Stack summary items */
    }

    .dashboardSummaryBox2 {
        grid-template-columns: 1fr; /* Stack link boxes */
    }
}
